<form #signupForm="ngForm" (ngSubmit)="register(signupForm)">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" [ngModel]="userName">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" ngModel>
  </div>

  <div>
    <label for="phone">Phone</label>
    <input type="phone" name="phone" id="phone" [(ngModel)]="phone">
  </div>

  <div>
    <button type="submit">Sign Up</button>
  </div>

</form>
<div>
  <p>Form value:
    <b> {{ signupForm.value | json }} </b>
  </p>
</div>